.guest_container {
  height: calc(100vh - 80px);
}
.input_container {
  height: 4rem;
}
.otp_input {
  font-family: var(--font-family);
  font-size: 2rem;
  background-color: var(--input);
  color: white;
  opacity: 0.9;
  text-decoration: none;
  font-weight: bold;
}
.otp_btn {
  font-family: var(--font-family);
  font-size: 1rem;
  background-color: var(--button-bg);
  color: white;
  opacity: 0.9;
  text-decoration: none;
}
.link-user {
  font-family: var(--font-family);
  font-size: 1rem;
  background-color: var(--button-bg);
  color: white;
  opacity: 0.9;
  text-decoration: none;
  &:hover {
    color: white;
  }
}
