.input {
  font-family: var(--font-family);
  font-size: 0.9rem;
  color: var(--accent-color2);
  background-color: var(--input);
}

.fp_header {
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--accent-color2);
}
.fp_description {
  font-family: var(--font-family);
  font-size: 1rem;
  text-align: center;
  color: var(--accent-color2);
}
